.home{
    width: 100%;
    height: 100%;
}
.threeEcharts{
    display: flex;
}
.autoDiv{
    display: flex;
    .homeImg{
        width: 20px;
        height: 20px;
        background-image: url('./image/tu.jpg');
        background-size: 20px 20px;
    }
}
